data/

01_clustering_gravitacional/target/
**/*.rs.bk


__pycache__/
*.pyc
.venv/

# --- Rust / Cargo ---
/target/

Cargo.lock

**/*.rs.bk

cargo-crash.log

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

**/target/
**/Cargo.lock

# --- Datasets ---
# Los CSV se suben al git (no se ignoran)

# --- Outputs y Modelos entrenados ---
**/output/
*.pkl
